ul {
  margin: 0;
}

.no-underline {
  background-image: none;
}

.container {
  display: flex;
  padding: 0px;
  margin: 0px;
}

/* sidebar styling */
.sidebar-container {
  max-width: 400px;
  width: 30vw;
  height: 100vh;
  padding: 2.5rem;
  border-right: 1px solid #efefef;
}

.profile-image {
  border-radius: 50%;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-link-item {
  padding: 10px;
}

.icon {
  font-size: 1.3em;
}

.icon-span {
  margin-left: 10px
}

/* main contents' styling */
/* projects */
.main-container {
  width: 100vw;
  max-width: 100%;
}

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, auto));
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 16px;
  gap: 32px;

  padding: 0 32px;
}

.project-title {
  padding-left: 0.6rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 1.2rem;
}
.project-card:hover {
  box-shadow: 2px 2px 4px 0 rgba(216, 216, 216, 0.5);
}

.card-thumbnail {
  width: 98%;
  max-height: 208px;
  margin-bottom: 0;
  border: 1px solid #efefef;
}

.tag-button {
  background: transparent;
  color: #1ca086;
  border: 1px solid #c9c9c9;
  border-radius: 4px;

  margin-right: 10px;

  cursor: pointer;
}
.tag-button:hover {
  box-shadow: 3px 4px 4px 0 rgba(216, 216, 216, 0.5);
}
.tag-button:focus {
  outline: 0;
}


.tag-item {
  list-style: none;
  min-width: 50px;
  max-width: 100px;
  height: 30px;
  padding: 5px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  margin-right: calc(1.45rem / 2);
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.date {
  font-size: 22px;
  margin-left: 1rem;
}

.to-home {
  margin: 1rem 0;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  border:1px solid #efefef;
  border-radius: 4px;
  box-shadow: 3px 4px 4px 0 rgba(216, 216, 216, 0.5);
  padding-top: 56.25%;
  margin-bottom: 1.45rem;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border: none;
}

.tagged-list {
  list-style: none;
}

pre, code {
  background-color: beige;
}

pre {
  padding: 20px;
  border-radius: 3px;
}

/* 

Media Queries comes here

*/
@media screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }

  .date {
    font-size: 20px;
  }

  .stack-tag {
    display: flex;
  }

}

/* 
    Media Queries
    Default is more than 1024
    800-1024    - tablet landscape
    800-640     - tablet (Sidebar becomes header)
    640-less    - phone landscape & smaller - one column
*/
@media screen and (max-width: 1024px) {
  .sidebar-container {
    max-width: 267px;
    padding: 2rem;
  }

  .name-holder>h1 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }

  .name-holder>p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .social-link-item {
    padding: 6px;
  }

  .project-car {
    margin: 0 8px 10px 8px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .sidebar-container {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #efefef;
  }

  .profile-image-link {
    display: block;
    margin: auto 0;
    min-width: 150px;
  }

  .profile-image {
    max-width: 150px;
  }

  .name-holder {
    padding: 0rem 1rem;
  }

  .name-holder>h1 {
    margin-top: 0;
  }

  .social-links {
    margin: auto 0;
    min-width: 115px;
  }
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    height: 100%;
  }

  .main-container {
    padding: 2rem;
  }

  /* Side bar */
  .sidebar-container {
    display: block;
    max-width: 100%;
    padding: 2rem;
    height: 100%;
  }

  .profile-image {
    display: block;
    margin: 0 auto;
  }

  .name-holder {
    margin-top: 1.5rem;
    text-align: center;
  }

  .social-links {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* margin: 0px;
        width: 100%;
        max-width: 30px; */
  }

  .icon-span {
    display: none;
  }

  .social-link-item {
    font-size: 1.2rem;
    width: 50px;
  }

  /* Project */
  .project-card {
    border: 1px solid #efefef;
    border-radius: 4px;
    min-width: 100%;
    padding: 0.5rem;
  }
}
