.project-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0;
}

.project-title {
    padding-left: 0.6rem;
}

.tagged-list {
    list-style: none;
}

pre, code {
    background-color: beige;
}
pre {
    padding: 20px;
    border-radius: 3px;
}