.no-underline {
    background-image: none
}

.container {
    display: flex;
    padding: 0px;
    margin: 0px;
}

/* sidebar styling */
.sidebar-container {
    max-width: 450px;
    height: 100vh;
    padding: 2.5rem;
    border-right: 1px solid #efefef;
}

.profile-image {
    margin-bottom: 0px;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-link-item {
    padding: 10px;
}

.icon {
    font-size: 1.3em;
}

.icon-span {
    margin-left: 10px
}

/* main contents' styling */
/* projects */
.main-container {
    width: 100vw;
    max-width: 100%;
}

.project-card {
    border: 1px solid #efefef;
    border-radius: 4px;
    max-width: 48%;
    padding: 1.2rem;
}

.card-thumbnail {
    margin-bottom: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-description {
    max-width: 90%;
}

.card-tag {
    display: flex;
}

.tag-item {
    list-style: none;
    min-width: 50px;
    max-width: 100px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: calc(1.45rem / 2);
}


/* 

Media Queries comes here
*/
@media screen and (max-width: 580px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    /* Side bar */
    .sidebar-container {
        max-width: 100%;
        padding: 2rem;
        height: 50vh;
    }

    .profile-image {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    /* Project */
    .project-card {
        border: 1px solid #efefef;
        border-radius: 4px;
        max-width: 100%;
        padding: 0.5rem;
    }
}